body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mapbox-gl-draw_combine, .mapbox-gl-draw_uncombine, .mapboxgl-ctrl-attrib-inner {
  display: none!important;
}

.mapboxgl-canvas-container {
  height: 99vh;  
}

.mapboxgl-ctrl {
  clear: none!important;
}

.nav-bar{
  margin-top: -30px;
  position: relative;
  width: 100%;
  text-align:center;
  color:white;
  background-color: grey;
}

/*TODO: Try to show again but repairing first the "broken design" for this icons*/
.mapboxgl-ctrl-geocoder--icon-search, .mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}

.my-input {
  z-index: 0;
}