body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mapbox-gl-draw_combine, .mapbox-gl-draw_uncombine, .mapboxgl-ctrl-attrib-inner {
  display: none!important;
}

.mapboxgl-canvas-container {
  height: 98.3vh;  
}

.nav-bar{
  position: relative;
  text-align: center;
  margin-top: -33px;
  width: 100%;
  color: white;
  background-color: grey;
  opacity: 0.8;
  height: 33px;
  padding-top: 4px;
}

.mapboxgl-ctrl {
  clear: none!important;
}

.mapboxgl-ctrl-geocoder--icon-search, .mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}

.modal-header{
  text-align: center;
}

.my-input {
  z-index: 100%;
}

.description {
  font-size: 1rem!important;
  width: 95%!important;
}

.head-advisory {
  text-align: center;
  width: 100%;
  font-size: 2rem!important;
}

.my-button {
  width: 80%;
  margin-top: 10px;
  border-radius: 4px;
}

.route-creator{
  opacity: 0;
}

.advisory-box {
  margin: 30px 0 0 0;
}

.advisory {
  text-align: left;
  margin: 10px 0 10px 0;
}

.center {
  text-align: center;
}

 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
}

.mapbox-gl-draw_point, .mapbox-gl-draw_polygon,.mapbox-gl-draw_trash {
  display: 'none'!important;
}


.icon, .leaflet-marker-icon {
  min-height: 25px;
  animation: blinker 3s linear infinite;
}
