body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mapbox-gl-draw_combine, .mapbox-gl-draw_uncombine, .mapboxgl-ctrl-attrib-inner {
  display: none!important;
}

.mapboxgl-canvas-container {
  height: 98.3vh;  
}

.nav-bar{
  position: relative;
  text-align: center;
  margin-top: -33px;
  width: 100%;
  color: white;
  background-color: grey;
  opacity: 0.8;
  height: 33px;
  padding-top: 4px;
}

.mapboxgl-ctrl {
  clear: none!important;
}

.mapboxgl-ctrl-geocoder--icon-search, .mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}

.modal-header{
  text-align: center;
}

.my-input {
  z-index: 100%;
}

.description {
  font-size: 1rem!important;
  width: 95%!important;
}

.selected_route {
  width: 30%!important;
}

.head-advisory {
  text-align: center;
  width: 100%;
  font-size: 2rem!important;
}

.advisory {
  text-align: left;
}

.my-button {
  width: 80%;
  margin-top: 10px;
  border-radius: 4px;
}